*{
    margin: 0;
    padding: 0;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: #2c3e50;
}
.bg-blue{
    background-color: #18bc9c;
}
.bg-dark{
    background: #2c3e50;
}
.bg-night{
    background-color: #1a252f;
}
.white-star{
    border-color: #fff;
    color: #fff;
}
.dark-star{
    border-color: #2c3e50;
    color: #2c3e50;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.center{
    margin-right: auto;
    margin-left: auto;
}
.centralizar{
    text-align: center;
}
h1, h2, h3, h4{
    font-size: 3em;
}
.home{
    font-family: 'Montserrat', 'Lato', sans-serif;
}
.header{
    justify-content: space-around;
    height: 6.5625em;
    align-items: center;
}
.header-container{
    justify-content: space-between;
    align-items: center;
    width: 71.25em;
}
.text-uppercase{
    text-transform: uppercase;
}
.nav-list{
    width: 20.625em;
    justify-content: space-between;
    list-style: none;
    font-size: 1em;
    padding-right: 3.125em;
}
.logo, .nav-list{
    letter-spacing: .0625em;
}
.logo{
    font-size: 2em;
}
.nav-list a{
    text-decoration: none;
    color: white;
}
.nav-list a:hover{
    color: #18bc9c;
    transition: .3s;
}
.container{
    text-align: center;
}
.profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-profile{
    margin-top: 6.0625em;
}
.title-profile{
    font-size: 4.75em;
    margin-top: 0.5625em;
    margin-bottom: .2em;
}
.star{
    width: 15em;
    height: auto;
    border:none;
    border-top: solid .25em;
    margin-top: 1em;
    margin-bottom: 0;
    overflow: visible;
}
.star::after {
    position: relative;
    top: -.6em;
    padding: 0 .25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    font-size: 2em;
}
.white-star::after{
    background-color: #18bc9c;
}
.dark-star::after{
    background-color: #fff;
}
.profile-sub{
    font-family: 'Lato';
    font-size: 1.7em;
    margin-bottom: 3.375em;
}
.title-portfolio{
    font-size: 3em;
    padding-top: 1.7em;
}
.content-portfolio{
    width: 75em;
    margin-top: 1em;
}
.images-portfolio{
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 4.0625em;
}
.background-icon{
    background-color: #18bc9c;
    width: 21.875em;
    height: 15.75em;
    position: absolute;
    margin-left: 15px;
    opacity: 0;
}
.image-portfolio{
    width: 21.875em;
    height: 15.75em;
    margin-bottom: 1.875em;
}
.background-icon:hover{
    opacity: 0.9;
    transition: .5s;
}
.fa-search-plus{
    color: #fff;
    font-size: 5em;
    margin-top: 1.1em;
}
.about, .contact-me{
    flex-flow: column nowrap;
    padding: 5.3125em 0;
}
.title-about, .title-contact{
    font-size: 3em;
}
.text-about{
    justify-content: center;
    margin-bottom: 2.5em;
}
.image-portfolio, .text{
    padding-right: .9375em;
    padding-left: .9375em;
}
.text{
    font-family: 'Lato';
    width: 16.875em;
    text-align: left;
    font-size: 1.25em;
}
.button{
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
    border-radius: .25em;
}
.btn-border-white{
    border: 2px solid #fff;
}
.btn-download{
    align-self: center;
    padding: 1em;
}
.fa-download{
    margin-right: .9375em;
}
.btn-download:hover{
    background-color: #fff;
    color: #1a252f;
    transition: .3s;
}
.form-group{
    width: 47.5em;
    height: 38em;
    margin-bottom: 1.4em;
}
.form-item{
    border: none;
    width: 31.625em;
    height: 5em;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: .5em;
    margin-bottom: 0;
    font-size: 1.5em;
    padding-left: 0;
    color: #495057;
    font-family: 'Lato';
}
.form-item:focus{
    outline: none;
}
.message-area{
    height: auto;
    padding: 1.2em 0;
    line-height: 1.5;
    padding-left: 0;
}
.btn-send{
    border: none;
    width: 5.1805em;
    height: 5.425em;
    margin-top: 1.5625em;
    cursor: pointer;
}
.btn-send:hover{
    background-color: #128f76;
    border-color: #128f76;
    transition: .3s;
}
.container-footer{
    justify-content: center;
    padding-bottom: 5em;
}
.footer-item{
    width: 23.75em;
    font-size: 1.1em;
    line-height: 1.5;
}
.text-footer{
    font-family: 'Lato';
}
.titles-footer h4{
    font-size: 1.5em;
    margin-top: 3.4125em;
    margin-bottom: 1.5em;
}
.social-media{
    display: inline-block;
    font-size: 1.25em;
    line-height: 2em;
    cursor: pointer;
    border: 2px solid white;
    padding: .2em .55em;
    margin: 0  0.3125em;
    color: #f8f9fa;
    cursor: pointer;
}
.circle{
    border-radius: 50%;
}
.social-media:hover{
    background-color: #f8f9fa;
    color: #1a252f;
    transition: .3s;
}
.link-bootstrap{
    text-decoration: none;
    color: #18bc9c;
}
.link-bootstrap:hover{
    text-decoration: underline;
    color: #128f76;
}
.copyright{
    height: 5.6em;
    line-height: 5.6;
    font-size: 0.8em;
    font-weight:100;
}
